body{
	position: relative;
	height: 4096px;
    width: 1440px;
    background-color: #ffffff;
	background-image: url();
	margin:0;

}

.font1{
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

.font2{
	font-family: 'Rokkitt', serif;
}
.image1 {
	position: absolute;
	width: 1509px;
	height: 360px;
	left:209;
	top:2735px;
	border-radius: 0px;
}
.image2 {
	position: absolute;
	height: 1118px;
    width: 706px;
    left: 1026px;
    top: 1203px;
    border-radius: 0px;

}
.image3 {
	position: absolute;
	height: 34px;
    width: 32px;
    left: 1209px;
    top: 4020px;
    border-radius: 0px;
}
.image4 {
    position: absolute;
	height: 148.99999993863088px;
    width: 584.9999998826161px;
    left: 1056px;
    top: 3012.475830078125px;
    border-radius: 0px;


}
.image5 {
	position: absolute;
	height: 223px;
    width: 239px;
    left: 329px;
    top: 1966px;
    border-radius: 0px;

}
.image6 {
    position: absolute;
	height: 209px;
    width: 206px;
    left: 804px;
    top: 1513px;
    border-radius: 0px;

}
.strelochka{
	position: absolute;
	height: 39px;
	width: 50px;
	left: 965px;
	top: 1435px;
	border-radius: 0px;

}
.strelochka2{
	position: absolute;
	height: 39px;
	width: 50px;
	left: 975px;
	top: 1930px;
	border-radius: 0px;

}
.image7 {
	position: absolute;
	height: 218px;
    width: 210px;
    left: 804px;
    top: 1965px;
    border-radius: 0px;

}
.image15 {
	position: absolute;
	height: 1090.7890827673855px;
    width: 1059.1052442880593px;
    left: 545px;
    top: -298.522216796875px;
    border-radius: 0px;

}
.image8 {
	position: absolute;
	height: 492.4316583131089px;
    width: 772.2219515662807px;
    left: 744px;
    top: 275.094970703125px;
    border-radius: 0px;
}
.image9 {
	position: absolute;
	height: 206px;
    width: 211px;
    left: 326px;
    top: 1516px;
    border-radius: 0px;

}
.image10 {
	position: absolute;
	height: 500.181790142713941px;
    width: 1773.8207603750516px;
    left: -249px;
    top: 2330.020751953125px;
    border-radius: 0px;

}
.image11 {
	position: absolute;
	height: 15px;
    width: 1803px;
    left: -140px;
    top: 2523px;
    border-radius: 0px;

}
.image12 {
	position: absolute;
	height: 891px;
    width: 694px;
    left: 43px;
    top: 3238px;
    border-radius: 0px;

}
.image13 {
	position: absolute;
	height: 42px;
    width: 40px;
    left: 1290px;
    top: 4020px;
    border-radius: 0px;

}
.image14 {
	position: absolute;
	height: 16px;
    width: 38px;
    left: 1129px;
    top: 4029px;
    border-radius: 0px;

}
.image16 {
	position: absolute;
	height: 100px;
    width: 341px;
    left: 73px;
    top: 832px;
    border-radius: 35px;
    opacity: 0.7;

}
.image17 {
	position: absolute;
	height: 115px;
    width: 469px;
    left: 821px;
    top: 1059px;
    border-radius: 35px;
    opacity: 0.7;

}
.image18 {
	position: absolute;
	height: 74px;
    width: 302px;
    left: 61px;
    top: 1113px;
    border-radius: 35px;

}
.image19 {
    position: absolute;
    height: 76px;
    width: 275px;
    left: 276px;
    top: 1113px;
    border-radius: 35px;

}
.image20 {
	position: absolute;
	height: 302px;
    width: 299px;
    left: 138px;
    top: 1317px;
    border-radius: 50px;

    }
    .image21 {
    	position: absolute;
    	height: 289px;
        width: 293px;
        left: 625px;
        top: 1317px;
        border-radius: 50px;

    }
    .image22 {
    	position: absolute;
    	height: 302px;
        width: 299px;
        left: 138px;
        top: 1791px;
        border-radius: 50px;

    }
    .image23 {
    	position: absolute;
    	height: 302px;
        width: 299px;
        left: 628px;
        top: 1791px;
        border-radius: 50px;

    }
    .image24 {
    	position: absolute;
    	height: 84px;
        width: 179px;
        left: 1221px;
        top: 35px;
        border-radius: 28.53146743774414px;
        opacity: 0.1;
    }
    .image25 {
    	position: absolute;
    	height: 459px;
		width: 504px;
		left: 786px;
		top: 3183px;
		border-radius: 45px;

    }
    .image26 {
    	position: absolute;
    	height: 16px;
		width: 24px;
		left: 927px;
		top: 3378px;
		border-radius: 0px;

    }
    .image27 {
    	position: absolute;
    	height: 16px;
		width: 24px;
		left: 927px;
		top: 3444px;
		border-radius: 0px;

    }
    .image28 {
    	position: absolute;
    	height: 16px;
		width: 24px;
		left: 927px;
		top: 3521px;
		border-radius: 0px;

    }
    .image29 {
    	position: absolute;
    	height: 730.305643631px;
		width: 821.5593108139118px;
		left: -360;
		top: 3540.74609375px;
		border-radius: 0px;

    }
    .pizza {
    	position: absolute;
    	height: 711px;
		width: 353px;
		left: 100px;
		top: 25px;
		border-radius: nullpx;

    }
    .pizza1 {
    	position: absolute;
    	height: 136px;
		width: 187px;
		left: 186px;
		top: 1335px;
		border-radius: nullpx;

    }
    .pizza01 {
    	position: absolute;
    	height: 150px;
		width: 200px;
		left: 173px;
		top: 1425px;
		border-radius: nullpx;

    }
    .pizza2{
    	position: absolute;
    	height: 49px;
		width: 191px;
		left: 676px;
		top: 1380px;
		border-radius: undefinedpx;

    }
    .pizza02 {
    	position: absolute;
    	height: 152px;
		width: 200px;
		left: 668px;
		top: 1429px;
		border-radius: undefinedpx;

    }
    .pizza3 {
    	position: absolute;
    	height: 67px;
		width: 209px;
		left: 183px;
		top: 1826px;
		border-radius: undefinedpx;


    }
    .pizza03 {
    	position: absolute;
    	height: 90px;
		width: 274px;
		left: 147px;
		top: 1900px;
		border-radius: undefinedpx;

    }
    .pizza4 {
    	position: absolute;
    	height: 92px;
		width: 216px;
		left: 630px;
		top: 1830px;
		border-radius: undefinedpx;

    }
    .pizza04 {
    	position: absolute;
    	height: 102px;
		width: 151px;
		left: 670px;
		top: 1933px;
		border-radius: undefinedpx;

    }
    .work {
    	position:absolute;
    	height: 75px;
		width: 544px;
		left: 573px;
		top: 2813px;
		border-radius: undefinedpx;
 

    }
    .preim {
    	position: absolute;
    	height: 542.64462661743164px;
		width: 215px;
		left: 823px;
		top: 3730px;
		border-radius: undefinedpx;

    }
    .header {
    	position: fixed;
    	display: flex;
    	flex-wrap: wrap;
    	align-items: flex-end;
    	justify-content: space-between;
    	top:0;
    	left: 0;
    	width: 100%;
    }
    .header_list {
    	display:flex;
    	flex-wrap: wrap;
    	
    }
    .header_item{
    	margin-right:100px;
    	margin-top: 10px;
    	
		}
    .header_link{
    	font-family: Rokkitt;
		font-style: normal;
		font-weight: 300;
		font-size: 18px;
		line-height: 20px;
		color: #7D0A0A;
		text-decoration: none;

	}
	.header_link:hover{
		color: #FF0000;
		text-decoration: underline;

	}
	
	.image24 {
		transition: 0.5s
	}
	.image24:hover {
		transform: scale(1.15);
	}
	.krasn{
		position: absolute;
		height: 31.928104400634766px;
		width: 168.8157958984375px;
		left: 1225px;
		top: 68px;
		border-radius: nullpx;


	}
	.zakaz{
		position: absolute;
		height: 39px;
		width: 280px;
		left: 105px;
		top: 857px;
		border-radius: nullpx;

	}
	.image16{
		transition: 0.5s;
	}
	.image16:hover {
		transform : scale(1.15);
	}
	.image17{
		transition: 0.5s;
	}
	.image17:hover {
		transform : scale(1.15);
	}
	.zakaz2{
		position: absolute;
		height: 36px;
		width: 364px;
		left: 863px;
		top: 1100px;
		border-radius: nullpx;

	}
	.strelochka{
		transition: 0.5s;
	}
	.strelochka:hover{
		transform : scale(1.5);
		
	}
	.strelochka2{
		transition: 0.5s;
	}
	.strelochka2:hover{
		transform : scale(1.5);
		
	}
	.image3{
		transition: 0.5s;
	}
	.image3:hover{
		transform : scale(1.15);
		
	}
	.image13{
		transition: 0.5s;
	}
	.image13:hover{
		transform : scale(1.15);
		
	}
	.image14{
		transition: 0.5s;
	}
	.image14:hover{
		transform : scale(1.15);
		
	}
	
	.menu{
		position: absolute;
		height: 35px;
		width: 168px;
		left: 105px;
		top: 1133px;
		border-radius: nullpx;

	}
	.recomend{
		position: absolute;
		height: 34px;
		width: 337px;
		left: 248px;
		top: 1132px;
		border-radius: nullpx;


	}
	.menu{
		transition: 0.5s;
	}
	.menu:hover{
		transform : scale(1.15);
	}
	.recomend{
		transition: 0.5s;
	}
	.recomend:hover{
		transform : scale(1.10);
	}
	.a1{
		position: relative;
		font-family: Rokkitt;
		font-size: 25px;
		font-style: normal;
		font-weight: 400;
		line-height: 37px;
		letter-spacing: 0em;
		text-align: left;
		color: #ffffff;


	}
	.a{
		
			
		padding-left: 135ex;
			padding-top: 460ex;
    		




	}
    

    
    
    
    

   



   

    
    

 

